/*

!/.dockerignore
!/.gitignore
!/.editorconfig
!/.eslintrc.json
!/.prettierrc.json
!/.travis.yml
!/app
!/app.json
!/bin
!/docker-compose.yml
!/docker-compose.production.yml
!/Dockerfile
!/heroku.yml
!/package-lock.json
!/package.json

!/README.md
!/server.js

/app/node_modules
